# ---------- Frontend ----------
Hillow-frontend/node_modules/
Hillow-frontend/dist/

# ---------- Backend ----------
Hillow-backend/.venv/
Hillow-backend/__pycache__/
Hillow-backend/**/*.pyc
Hillow-backend/db.sqlite3

# ---------- Environment ----------
.env
*.env

# ---------- VS Code ----------
.vscode/

# ---------- OS ----------
.DS_Store
Thumbs.db